.wrapper {
    padding: 0 15px;
    max-width: 640px;
}

.header {
    max-width: 640px;
    height: 640px;
    margin: 0 auto;

    background-position: center;
    background-size: cover;
}

.header__inner {
    display: flex;
    flex-direction: column;
}

.header__top {
    flex-direction: column-reverse;
    justify-content: center;

    max-width: 640px;
    min-width: 100%;
}

.header__logo {
    position: relative;
    top: 224px;
    width: 269px;
}

.header__nav ul {
    display: none;
}

.header__main {
    top: 240px;
    font-size: var(--main-fs);
}

/* ------------TRANDS------------- */
.trands__wrapper {
    margin-bottom: 44px;
}

.trands {
    flex-direction: column;
}

.card {
    width: 100%;
}

.card__text {
    margin: 0 15px 15px;
}

/*--------------WRAPPER-MAIN---------------- */
.wrapper__main {
    flex-direction: column;
}

/*---------------------MAIN---------------------*/
.blog {
    justify-content: start;
}

.blog img {
    margin-right: 0;
}

.post__text {
    width: 100%;
}

.post__content {
    width: 100%;
}

.blog::after {
    margin-bottom: 34px;
}

.blog:last-child::after {
    margin-bottom: 0;
}

/*--------------ASIDE---------------- */
.sidebar {
    justify-content: center;
    margin-top: 44px;
    max-width: 640px;
}

/*--------------FOOTER---------------- */
.wrapper__footer {
    max-width: 640px
}

.products {
    display: flex;
    flex-direction: column;
}
