@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap") format("woff");
    font-display: swap;
}

:root {
    --white: #fff;
    --black: #000;
    --gold: #b59f5b;
    --light-grey: #f4f7f6;
    --data-time: #9f9f9f;

    --border-ul: 2px solid #eeeeee;
    --card-border: 2px solid #b59f5b;

    --main-fs: 0.9rem;
    --sec-fs: 0.8rem;

    --bold: bold;
    --norm: normal;

    --uppercase: uppercase;
}

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

html {
    font-size: 16px;
}

.wrapper {
    padding: 0 10px;
}

.header {
    height: 450px;
    position: relative;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--black);
    z-index: 0;

    text-transform: var(--uppercase);
    color: var(--white);
    font-weight: var(--norm);
}

.header::after {
    content: '';
    position: absolute;
    background-color: var(--black);
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.header__inner {
    position: relative;
    z-index: 2;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding-top: 27px;
}

.header__logo {
    height: auto;
}

.header__burger {
    align-self: flex-end;
}

.header__main {
    position: relative;
    top: 120px;
    text-align: center;
    justify-content: center;

    font-weight: var(--bold);
}

/*---------------------TRANDS---------------------*/
.trands__wrapper {
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.section__naming {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: var(--uppercase);
}

.section__naming::after {
    content: '';
    width: 66px;
    height: 3px;
    background-color: var(--gold);
    margin: 12px 0 23px;
}

.trands {
    display: flex;
    gap: 4px;
}

.card {
    position: relative;
    z-index: 0;
    color: var(--white);

    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 370px;
    height: 320px;
    padding: 10px;

    box-sizing: border-box;
}

.card__first {
    background-image: url("../images/trend1.jpg");
    background-size: cover;
    background-color: var(--black);
}

.card__second {
    background-image: url("../images/trend2.jpg");
    background-size: cover;
    background-color: var(--black);
}

.card__third {
    background-image: url("../images/trend3.jpg");
    background-size: cover;
    background-color: var(--black);
}

.card__fourth {
    background-image: url("../images/trend4.jpg");
    background-size: cover;
    background-color: var(--black);
}

.card:last-child {
    margin-right: 0;
}

.card::after {
    content: '';
    position: absolute;
    background-color: var(--black);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.card__text {
    position: relative;
    z-index: 2;

    padding: 40px 0 30px 17px;
    border: var(--card-border);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
}

/*--------------------WRAPPER-MAIN----------------------*/
.wrapper__main {
    display: flex;
    flex-wrap: nowrap;
    margin: 64px auto 0;
}

/*---------------------MAIN---------------------*/
.blog {
    display: flex;
    flex-wrap: wrap;
}

.blog img {
    width: 100%;
}

.post__content {
    max-width: 367px;
}

.post__content ul {
    display: flex;
}

.tag {
    color: var(--gold);
    font-size: var(--main-fs);
    font-weight: var(--bold);
    margin-right: 15px;
    text-transform: var(--uppercase);
}

.tag:last-child {
    margin-right: 0;
}

.post__title {
    font-size: 1.3rem;
    font-weight: var(--bold);
    text-transform: var(--uppercase);
    margin: 10px 0;
}

.post__info {
    display: flex;
    font-size: var(--sec-fs);
    margin-bottom: 10px;
}

.post__data {
    color: var(--data-time);
    margin-right: 10px;
}

.post__author {
    font-weight: var(--bold);
}

.post__text {
    font-size: var(--main-fs);
    font-weight: var(--norm);
    max-width: 366px;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .blog {
        border-bottom: 4px solid #eeeeee;
        margin-bottom: 32px;
    }

    .blog:last-child {
        border: none;
    }

    .post__content {
        max-width: 100%;
        margin-top: 16px;
        margin-bottom: 22px;
    }

    .post__text {
        width: 100%;
    }
}

/*-----------------ASIDE------------*/

.sidebar {
    width: 100%;
    font-size: var(--main-fs);
    font-weight: var(--bold);
    line-height: 18px;
    text-transform: var(--uppercase);
}

h4 {
    margin-top: 8px;
    line-height: 18px;
}

.new__post {
    display: flex;
    margin: 0 0 22px;
}

.sidebar__info {
    padding-left: 15px;
}

.new__post img {
    /* width: 80px;
    height: 80px; */
    max-width: 100%;
}

.sidebar__info time {
    font-weight: var(--norm);
    font-size: var(--sec-fs);
    color: var(--data-time);
    display: block;
    margin-top: -5px;
}

/*-----------------input---------------*/
input {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    background-color: var(--light-grey);
    border: none;
    padding-left: 15px;
}

.btn {
    height: 50px;
    background-color: var(--gold);
    border: none;
    color: var(--white);
    text-transform: var(--uppercase);
    cursor: pointer;
}

/*----------------search---------------*/
.search {
    margin-top: 60px;
}

.search__form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
}

.btn__search {
    max-width: 50px;
    min-width: 50px;
    box-sizing: border-box;
}

.btn__search img {
    width: 18px;
    height: auto;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*--------------------subscribe--------------------*/
.subscribe {
    margin-top: 61px;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.btn__subscribe {
    width: 100%;
    box-sizing: border-box;

    margin-top: 15px;
}

/*--------------------tags--------------------*/
.sidebar__tags {
    margin-top: 61px;
}

.sidebar__tags ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.sidebar__tags li {
    border: var(--border-ul);
    padding: 8px 14px;

    font-size: var(--sec-fs);
    font-weight: var(--bold);
    color: inherit;
}

/*--------------------themes--------------------*/
.categories {
    margin-top: 61px;
}

.categories ul {
    width: calc(100% - 12px);
    position: relative;
    display: block;
    list-style-type: none;
    padding-inline-start: 0;
    color: var(--black);
}

.categories ul p {
    color: var(--gold);
    width: 20px;
}

.categories ul li {
    border-bottom: var(--border-ul);
    padding: 0 0 16px 2px;

    font-weight: var(--bold);
    font-size: var(--main-fs);
    text-transform: none;

    box-sizing: border-box;
}

.category__beauty {
    position: relative;
    left: 62px;
    bottom: 40px;
}

.category__health {
    position: relative;
    left: 75px;
    bottom: 40px;
}

.category__lifestyle {
    position: relative;
    left: 101px;
    bottom: 40px;
}

.category__music {
    position: relative;
    left: 61px;
    bottom: 40px;
}

.category__sport {
    position: relative;
    left: 48px;
    bottom: 40px;
}

.category__yoga {
    position: relative;
    left: 38px;
    bottom: 40px;
}

/*--------------------FOOTER--------------------*/
.products {
    display: flex;
    box-sizing: border-box;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.product__img {
    max-width: 300px;
}

.price__old {
    text-decoration: line-through;
}

.product__link {
    color: var(--gold)
}

.btn__shop {
    width: 140px;
    text-align: center;
    background-color: var(--gold);
}

.btn__shop p {
    position: relative;
    top: 12.5px;
}

.product__content {
    flex-grow: 1;
    padding: 35px 25px 26px 20px;
    border: var(--card-border);
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.product__info {
    padding-bottom: 27px;
}

.product__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/*-----------------------------------------*/
address {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 84px;
    margin: 0 auto;
    background-color: var(--light-grey);
}

.icon {
    display: flex;
    width: 20px;
    height: 20px;
}

address ul {
    display: flex;
}

footer li {
    margin-right: 30px;
}

footer li:last-child {
    margin-right: 0;
}

.dribble {
    position: relative;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.footer__copyright {
    margin: 40px auto;
    text-align: center;
}

/*----------------POPUP-CONTAINER------------------*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup__toggle {
    display: none;
}

.popup__toggle:checked+.popup {
    display: flex;
}

.popup__content {
    position: relative;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.popup__content h2 {
    margin-top: 40px;
}

.popup__close {
    position: absolute;
    color: #fff;
    font-size: 5rem;
    right: -5px;
    top: -80px;

    cursor: pointer;
}

.popup__close:hover {
    color: var(--light-grey);
}

.btn__popup {
    display: inline-block;
    padding: 10px;
    min-width: 100px;
    background: var(--gold);
    color: #fff;
    font-size: 18px;

    cursor: pointer;
}

.popup__form {
    font-size: 1.25rem;
    height: 100%;
}

.btn__form {
    width: 100%;
}

.form__row {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.form__row-radio {
    display: flex;
    flex-direction: row;
}

.popup__text {
    margin-bottom: 15px;
}

select {
    height: 50px;
    border: none;

    background-color: var(--light-grey);
    font-size: 18px;
    padding-left: 15px;
}

.popup__form-radio {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.popup__form-radio input {
    display: none;
}

.popup__form-radio .checkmark {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--gold);
    display: inline-block;
    margin-right: 8px;
    position: relative;
    transition: 0.3s ease;
}

.popup__form-radio input:checked+.checkmark {
    background-color: #fff;
}

.popup__form-radio .checkmark::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--gold);
    display: none;
}

.popup__form-radio input:checked+.checkmark::after {
    display: block;
}

.popup__form-textarea {
    width: 100%;
    height: 200px;
    resize: none;

    border: none;
    background-color: var(--light-grey);
    font-size: 18px;
    padding: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

@media (max-width: 420px) {
    .popup__content {
        width: 90vw;
        max-height: 90%;
    }

    .product__content {
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    .product__content {
        top: -56px;
        margin-bottom: 0;
    }

    .popup__content {
        width: 90vw;
        max-height: 90%;
    }

    .popup__content h2 {
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {
    .popup__content {
        width: 35%;
        max-height: 90%;
    }
}