.wrapper {
  max-width: 1200px;
}

.header {
  min-width: 641px;
}

.header__inner {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.header__top {
  max-width: 100%;
}

.header__logo {
  width: 159px;
  margin-right: 470px;
}

.header__nav ul {
  display: none;
}

.header__main {
  font-size: var(--main-fs);
}

/*---------------------TRANDS---------------------*/
.trands {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  flex: 2;
  max-width: calc(100vw - 4px);
}

/*---------------------WRAPPER-MAIN---------------------*/
.wrapper__main {
  gap: 35px;
  max-width: 697px;
}

/*---------------------MAIN---------------------*/
.blog {
  position: relative;

  margin-bottom: 42px;
  max-width: 100%;
}

.blog:last-child {
  margin-bottom: 50px;
}

.blog:last-child::after {
  display: none;
}

/*---------------------ASIDE---------------------*/
.new__post {
  flex-wrap: wrap;
}

/*--------------------search--------------------*/
.field__search {
  width: 231px;
}

/*---------------------FOOTER---------------------*/
.wrapper__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 22px;
  width: 640px;
}

.product__info {
  max-width: 260px;
  position: relative;
  left: 10px;
}

.product__footer {
  position: relative;
  left: 10px;
}